@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif !important;

  /* font-family: "Open Sans", Arial, sans-serif; */
  font-weight: 600;
}

.menu-daysone {
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.btn-primary {
  background-color: #550000;
  color: white !important;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.btn-primary:hover {
  background-color: #ed8e8e !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
